<%- include('partials/head') %>
<%- include('partials/header') %>

<main class="catalogue__maincontainer">

    <section id="catalog">
        <h1>Notre catalogue</h1>
    
    <div class="catalogue__div">
        <h3 class="catalogue__div__title">Categories</h3>
        
        <div class="catalogue__menu">

            <% for (const coffee  of coffees) {%>
                <section class="menu__item">
                    <img src="/coffees/302932754.png" alt="" class="menu__item__img">
                    <h4 class="menu__item__title"><%= coffee.name %></h4>
                    <p class="menu__item__description">
                   <%= coffee.description %>
                    </p>
                    <p class="menu__item__description">
                    <%= coffee.reference %>
                    </p>
                    <p class="menu__item__description">
                    <%= coffee.caracteristique %>
                    </p>
                    <p class="menu__item__description">
                    <%= coffee.disponible %>
                    </p>
                    <p class="menu__item__description">
                    Origine : <%= coffee.origine %>
                    </p>
                    <p class="menu__item__price">
                        Prix au kilo : <%= coffee.prix %> €
                    </p>
                    <h3 class="menu__item__title--discover">Découvrir</h3>
                </section>
    
                <% } %>

        </div>
        <h2 class="menu__item__title--seemore">Voir tout</h2>
    </div>
</main>

<%- include('partials/footer') %>
</body>
</html>