<%- include('partials/header') %>
<%- include('partials/head') %>
<main>
    <div class="product-container">
        <div class="product-image">
            <img class="product-image" src="/coffees/302932754.png" alt="Café Ethiopian">
        </div>
        <div class="product-details">
            <h1 class="product-title "><%= coffee.nom %></h1>
            <p class="product-description">Réputé pour son arôme floral, son acidité vive et ses notes de saveur
                citronnée.</p>

            <ul class="product-specifications">
                <li><strong>Référence :</strong><%= coffee.reference %>/li>
                <li><strong>Origine:</strong> <%= coffee.origine %></li>
                <li><strong>Caractéristique:</strong><%= coffee.caracteristique %></li>
                <li><strong>Disponibilité:</strong> <%= coffee.disponible %></li>
            </ul>

            <div class="product-price">
                <span><%= coffee.prix %>

                </span>
            </div>

            <button class="add-to-cart">Ajouter au panier</button>
        </div>
    </div>
</main>
<%- include('partials/footer') %>
</body>

</html>